@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Be Vietnam Pro', sans-serif;
    overflow-x: hidden;
}

.overlay {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.img-simplify-top {
    width: 50vw;
    position: absolute;
    left: 52vw;
    top: -10vh;
    opacity: 0.1;
    z-index: -1;
    
}

.rect {
    fill: hsl(15, 60%, 48%);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-img {
    margin-top: 3.8rem;
    margin-left: 11vw;
}

.menu-desktop-list {
    position: relative;
    right: 5vw;
    top: 1.5rem;
}

.menu-desktop-list li {
    display: inline;
    margin-right: 2.5vw;
    font-size: 0.9rem;
    transition: 0.3s;
}

.menu-desktop-list li:hover {
    opacity: 0.75;
}

.menu-desktop-list a {
    text-decoration: none;
    color: hsl(228, 39%, 23%);
    font-weight: 500;
}

.btn-get-started {
    width: 8rem;
    height: 2.5rem;
    color: #fff;
    background-color: hsl(12, 88%, 59%);
    border: none;
    border-radius: 5rem;
    font-weight: 700;
    font-size: 0.85rem;
    transition: 0.3s;
    cursor: pointer;
}

.btn-get-started:hover {
    opacity: 0.75;
}

nav .btn-get-started {
    position: relative;
    right: 11vw;
    top: 1.5rem;
}

.sidebar-icon, .close-icon {
    display: none;
}

.hide {
    opacity: 0;
}

.first-section {
    display: flex;
    justify-content: space-between;
}

.first-section1 {
    margin-left: 11vw;
    margin-top: 4rem;
}

h1 {
    font-size: 2.8rem;
    width: 30vw;
    color: hsl(228, 39%, 23%);
    font-weight: 700;
}

.first-section1 p {
    color: hsl(227, 12%, 61%);
    font-weight: 400;
    width: 25vw;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 0.95rem;
}

.img-section2 {
    margin-right: 12vw;
    width: 35vw;
}

.second-section {
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;
}

.second-section1 {
    margin-left: 11vw;
    margin-top: 1.8rem;
}

.second-section1 h2 {
    font-size: 2rem;
    color: hsl(228, 39%, 23%);
    width: 30vw;
    font-weight: 700;
}

.second-section1 p {
    width: 30vw;
    color: hsl(227, 12%, 61%);
    font-weight: 400;
    margin-top: 1.8rem;
    font-size: 0.93rem;
}

.second-section2 {
    margin-right: 13vw;
    overflow-x: hidden;
}

.manage1, .manage2, .manage3 {
    margin-bottom: 2.2rem;
}

.manage1 p, .manage2 p, .manage3 p {
    width: 30vw;
    color: hsl(227, 12%, 61%);
    font-size: 0.95rem;
    font-weight: 400;
    margin-top: 1rem;
}

.numbers {
    background-color: hsl(12, 88%, 59%);
    width: 3rem;
    height: 1.8rem;
    color: #fff;
    text-align: center;
    border-radius: 5rem;
    padding-top: 0.3rem;
    position: relative;
    right: 4.5rem;
    top: 1.7rem;
    font-weight: 500;
}

.second-section2 h3 {
    color: hsl(228, 39%, 23%);
    font-size: 0.94rem;
}

.h2-pre-carousel {
    text-align: center;
    font-size: 2rem;
    color: hsl(228, 39%, 23%);
    margin-top: 8rem;
    margin-bottom: 4rem;
}

.carousel {
    display: flex;
    height: 18rem;
    gap: 2rem;
    width: 38vw;
    overflow: hidden;
}

.swiper-pagination-bullet {
    position: relative;
    bottom: 0.3rem;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    background-color: hsl(12, 88%, 59%);
}

.swiper-button-prev:after {
    color: hsl(227, 12%, 69%);
}

.swiper-button-next:after {
    color: hsl(227, 12%, 69%);
}

:root {
    --swiper-navigation-size: 1.8rem;
}

.people {
    text-align: center;
    background-color: #f3f3f3;
    padding: 2rem;
    border-radius: 0.6rem;
}

.people img {
    width: 4rem;
    z-index: 100;
}

.people h3 {
    position: relative;
    top: 1.5rem;
    color: hsl(228, 39%, 23%);
    font-size: 1rem;
}

.people p {
    color: hsl(227, 12%, 61%);
    font-weight: 400;
    font-size: 0.98rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
}

.btgs {
    margin-top: 2.5rem;
    margin-bottom: 8rem;
    text-align: center;
}

.pre-footer {
    width: 100vw;
    height: 13rem;
    background-color: hsl(12, 88%, 59%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pre-footer h2 {
    color: #fff;
    font-size: 2rem;
    width: 25vw;
    margin-left: 15vw;
    
}

.pre-footer button {
    background-color: #fff;
    color: hsl(12, 88%, 59%);
    margin-right: 15vw;
}

footer {
    width: 100vw;
    height: 13rem;
    background-color: hsl(233, 12%, 13%);
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
}

.logo-footer {
    filter: brightness(0) invert(1);
}
  

.footer-left {
    padding-left: 8vw;
}

.social-medias {
    margin-top: 4.7rem;
    
}

.social-medias img {
    margin-right: 0.4rem;
    cursor: pointer;
    filter: brightness(100);
}

.social-medias img:hover {
    filter: none;
}

.footer-links {
    display: flex;
    justify-content: space-between;
}

footer ul {
    padding-right: 8vw;
    padding-left: 8vw;
}

footer ul {
    list-style-type: none;
    padding-right: 2vw;
}

footer a {
    text-decoration: none;
    color: hsl(240, 5%, 84%);
    font-weight: 300;
    font-size: 0.85rem;
    transition: 0.3s;
}

footer a:hover {
    color: hsl(12, 88%, 59%);
}

footer li {
    padding-bottom: 0.8rem;
}

.footer-right {
    padding-right: 10vw;
}

#input-updates {
    height: 2.3rem;
    width: 12rem;
    border: none;
    border-radius: 1.2rem;
    outline: 0;
    padding-left: 0.8rem;
}

#input-updates::placeholder {
    color: hsl(240, 0%, 53%);
    font-size: 0.85rem;
}

#btn-go {
    width: 3.5rem;
    height: 2.3rem;
    border: none;
    background-color: hsl(12, 88%, 59%);
    color: #fff;
    font-weight: 700;
    font-size: 0.85rem;
    border-radius: 5rem;
    margin-left: 0.2rem;
    cursor: pointer;
}

.footer-right p {
    margin-top: 4.5rem;
    font-size: 0.8rem;
    color: hsl(225, 4%, 45%);
    padding-left: 1.6rem;
}

@media screen and (max-width: 1140px) {

    .first-section {
        position: relative;
        bottom: 1.5rem;
    }

    h1 {
        width: 40vw;
    }

    .first-section1 p {
        width: 30vw;
    }

    .img-section2 {
        margin-top: 1rem;
    }
}

@media (max-width: 990px) {
    .img-simplify-top {
        width: 66vw;
        left: 36vw;
        top: -26vh;
    }

    .menu-desktop-list {
        display: none;
    }

    nav button {
        display: none;
    }

    .sidebar-icon {
        display: block;
        position: relative;
        right: 8vw;
        top: 1.8rem;
        cursor: pointer;
    }

    .close-icon {
        display: none;
        position: relative;
        right: 8vw;
        top: 1.8rem;
        cursor: pointer;
    }

    .hide {
        opacity: 1;
    }

    .menu-mobile-content {
        background-color: rgb(255, 255, 255);
        width: 85%;
        height: 20rem;
        text-align: center;
        position: absolute;
        left: 8vw;
        top: 7rem;
        border-radius: 0.3rem;
        display: none;
    }

    .menu-mobile-content.active {
        display: block;
    }

    .overlay.active {
        background-color: rgba(173, 173, 173, 0.5);
    }

    .menu-mobile-list {
        list-style-type: none;
        margin-top: 3rem;
        
    }

    .menu-mobile-list li {
        margin-bottom: 2rem;
    }

    .menu-mobile-list a {
        text-decoration: none;
        color: hsl(228, 39%, 23%);
        font-weight: 500;
    }

    .first-section {
        display: block;
        text-align: center;
    }

    .first-section1 {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 22rem;
    }

    h1 {
        margin-left: auto;
        margin-right: auto;
        width: 45vw;
    }

    .first-section1 p {
        margin-left: auto;
        margin-right: auto;
        
    }

    .img-section2 {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        bottom: 23.3rem;
        width: 43vw;
        z-index: -1;
        opacity: 1;
    }

    .img-section2.active {
        opacity: 0;
    }

    .second-section {
        display: block;
    }

    .second-section1 {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-bottom: 2rem;
    }

    .second-section1 h2 {
        margin-left: auto;
        margin-right: auto;
        width: 45vw;
    }

    .second-section1 p {
        margin-left: auto;
        margin-right: auto;
        width: 45vw;
        margin-bottom: 2.5rem;
    }

    .second-section2 {
        margin-left: auto;
        margin-right: auto;
    }

    .manage1 h3 {
        position: relative;
        bottom: 1.5rem;
        left: 3.5rem;
    }

    .manage2 h3 {
        position: relative;
        bottom: 1.5rem;
        left: 3.5rem;
    }

    .manage3 h3 {
        position: relative;
        bottom: 1.5rem;
        left: 3.5rem;
    }

    .manage1 p, .manage2 p, .manage3 p {
        margin-left: auto;
        width: 50vw;
        margin-right: 19vw;
    }

    .numbers {
        position: relative;
        right: 0;
        top: 0;
    }

    .numbers-h3 {
        background-color: hsl(13, 100%, 92%);
        width: 70vw;
        float: right;
        height: 1.8rem;
        border-radius: 1rem 0 0 1rem;
        margin-bottom: 0.6rem;
    }

    .carousel {
        height: 20rem;
        width: 60vw;
    }

    .people p {
        font-size: 0.9rem;
    }

    .pre-footer {
        display: block;
        height: 22rem;
        text-align: center;
    }

    .pre-footer h2 {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5rem;
        width: 40vw;
    }

    .pre-footer button {
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
    }

    footer {
        display: block;
        height: 32rem;
    }

    .footer-left {
        position: relative;
        top: 17rem;
        text-align: center;
        padding-left: 0;
    }

    .logo-footer {
        position: relative;
        top: 6.5rem;
    }

    .social-medias {
        position: relative;
        bottom: 3.5rem;
        word-spacing: 6vw;
    }

    .footer-links {
        display: flex;
        justify-content: center;
    }

    footer ul {
        padding-left: 10vw;
        padding-right: 10vw;
    }

    form {
        position: relative;
        bottom: 15rem;
        left: 3.5vw;
        text-align: center;
    }

    #input-updates {
        width: 50vw;
    }

    .footer-right p {
        position: relative;
        top: 3.8rem;
        left: 3.5vw;
        text-align: center;
    }
}

@media (max-width: 760px) {
    .img-simplify-top {
        width: 85vw;
        left: 27vw;
    }

    h1 {
        width: 70vw;
    }

    .img-section2 {
        width: 55vw;
    }
}

@media (max-width: 500px) {
    .img-simplify-top {
        width: 130vw;
        left: 19vw;
    }
    
    h1 {
        width: 80vw;
    }

    .img-section2 {
        width: 70vw;
        bottom: 20rem;
    }

    .first-section1 p {
        width: 70vw;
    } 

    .second-section1 h2 {
        width: 60vw;
    }

    .second-section1 p {
        width: 70vw;
    }

    .numbers-h3 {
        width: 85vw;
    }

    .manage1 p, .manage2 p, .manage3 p {
        width: 65vw;
    }

    .carousel {
        width: 75vw;
    }
}

@media (max-width: 420px) {
    .img-section2 {
        bottom: 26rem;
    }
}